<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="SubwayTalentConnection" connectionString="server=127.0.0.1;User Id=root;password=P@$$w0rd;database=SubwayTalent" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="FacebookAppId" value="1241747239235034" />
    <add key="FacebookAppSecret" value="347b9b04bf754fe5960c23a21eda427c" />


    <add key="IUserAccount" value="SubwayTalent.Data.UserAccountRepo, SubwayTalent.Data" />
    <add key="IEvent" value="SubwayTalent.Data.EventsRepo, SubwayTalent.Data" />
    <add key="ILookUpValues" value="SubwayTalent.Data.LookUpValuesRepo, SubwayTalent.Data" />
    <add key="ITokenRepo" value="SubwayTalent.Data.TokenRepo, SubwayTalent.Data" />

    <add key="ILogger" value="SubwayTalent.Logging.FileLogger, SubwayTalent.Logging" />
    <add key="IThumbnailGenerator" value="SubwayTalentApi.Helpers.ThumbnailGenerator, SubwayTalentApi" />


    <!-- <add key="IEmailProvider" value="SubwayTalent.SendGridProvider.SendGridEmailProvider, SubwayTalent.SendGridProvider" /> -->
    <!-- <add key="IAPNPushNotification" value="SubwayTalent.Core.Providers.APNProvider, SubwayTalent.Core" /> -->

    <add key="IEmailProvider" value="SubwayTalentApi.FakeObjects.FakeEmailProvider, SubwayTalentApi" />
    <add key="IAPNPushNotification" value="SubwayTalentApi.FakeObjects.FakeAPN, SubwayTalentApi" />


    <!-- G Suite Settings -->
    <!--<add key="IEmailProvider" value="SubwayTalent.DefaultEmailProvider.GSuiteMailer, SubwayTalent.DefaultEmailProvider" />
    <add key="mailUsername" value="bens@subwaytalentapp.com" />
    <add key="mailPassword" value="LTrain17" />
    <add key="From.Address" value="Info@SubwayTalentApp.Com" />
    <add key="From.DisplayName" value="Subway Talent Notification" />
    <add key="SMTPServer" value="smtp.gmail.com" />-->


    <add key="MailCC" value="jeromecorpuz84@gmail.com" />

    <add key="Uploads" value="UploadedFiles" />
    <add key="ImageMimeTypes" value="image/jpg,image/jpeg" />
    <add key="VideoMimeTypes" value="video/mp4" />


    <add key="mailUsername" value="subwayMail" />
    <add key="mailPassword" value="subwayMail01" />
    <add key="From.Address" value="notification@subwaytalent.com" />
    <add key="From.DisplayName" value="Subway Talent Notification" />

    <add key="Subject.Event.Accepted" value="Event Accepted" />
    <add key="Subject.Event.Invite" value="Invited to perform" />
    <add key="Subject.Event.Request" value="Talent request to perform" />
    <add key="Subject.Event.Talent.Declined" value="Talent declined to perform" />
    <add key="Subject.Event.Planner.Declined" value="Your request was declined" />

    <add key="Apple.CertLocation" value="C:\Projects\SubwayTalent\SubwayTalent_CertificatesAndP12\aps_SubwayTalent_Production.cer" />
    <add key="Apple.CertPassword" value="zaq12wsx" />
    <add key="Apple.CertLocation.Sandbox" value="C:\Projects\SubwayTalent\SubwayTalent_CertificatesAndP12\aps_SubwayTalent_Development.cer" />

    <add key="Apple.IsProd" value="true" />

    <add key="ForgotPassword.Subject" value="Forgot Password" />
    <add key="Help.Subject" value="Help Confirmation" />
    <add key="Help.Email" value="Help@SubwayTalentApp.com" />
    <add key="Help.AdminSubject" value="User Concern" />

    <!-- <add key="AuthTokenExpiry" value="86400" /> -->
    <add key="AuthTokenExpiry" value="300" />

    <add key="AuthorizationOn" value="false" />
  
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="30720" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>

    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

</configuration>